body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	margin: 0 auto;
	width: 940px;
}

.button {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
}

.header-top {
	margin: 0;
	padding: 0;

	color: #ffffff;

	background-color: #293449;
}

.header-top .container {
	display: flex;
	justify-content: space-between;
}

.search-box {
	flex-basis: 230px;
	margin: 0;
	margin-left: 10px;
}

.top-header-buttons a {
	height: 42px;
	flex-basis: 150px;

	box-sizing: border-box;
	padding-top: 12px;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.top-header-buttons {
	display: flex;
	width: 460px;
}

.logo {
	flex-basis: 220px;
	box-sizing: border-box;
	padding-top: 12px;

	text-align: center;
	background-color: #ee3643;
	box-shadow: 0 5px #b52933;
}

.bookmarks {
	margin-right: 10px;
	padding-left: 54px;
}

.shopping-cart {
	padding-left: 50px;
}

.make-order-button {
	padding-left: 20px;

	background-color: #63a63e;
}

.header-details {
	display: flex;
	justify-content: space-between;

	padding-top: 46px;
}

.header-details h1 {
	box-sizing: border-box;
	width: 300px;
	margin: 0;
	padding-top: 3px;
	padding-left: 52px;
	padding-right: 50px;

	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.header-contacts,
.log-off {
	width: 300px;
}

.header-contacts {
	padding-right: 30px;
	box-sizing: border-box;
}

.header-details .phone {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 72px;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.header-details address {
	margin-top: 2px;

	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	color: #32425c;
	text-align: center;
}

.log-off {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	box-sizing: border-box;
	padding-left: 20px;	
	margin: 0;
}

.header-bottom {
	margin: 0;
	padding: 0;
	padding-bottom: 52px;

	background-color: #f4f7f9;
}

.log-off {
	list-style: none
}

.log-off li {
	background-color: #ffffff;
}

.login {
	display: block;
	padding-left: 46px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 16px;
	margin-right: 10px;
	vertical-align: middle;
}

.registration {
	display: block;
	padding-left: 25px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 24px;
	vertical-align: middle;
}

.log-off a,
.log-on p {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.log-on a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.header-nav {
	background-color: #32425c;
}

.header-nav ul {
	display: flex;
	justify-content: space-between;

	margin-top: 39px;
	padding: 0;
	padding-left: 52px;
	padding-right: 54px;

	list-style: none;
	box-shadow: 0 5px #293449;
}

.header-nav li {
	padding-top: 18px;
	padding-bottom: 13px;

	text-align: center;
}

.header-nav a {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

.catalog ul {
	display: flex;
	flex-wrap: wrap;

	margin-top: 38px;
	padding: 0;
	list-style: none;
}

.catalog li {
	width: 300px;

	box-sizing: border-box;
	padding-left: 23px;
	padding-bottom: 22px;
	margin-left: 20px;
	margin-top: 20px;
}

.catalog li:first-child {
	margin-left: 0;
}

.catalog-slider {
	visibility: hidden;
}

.catalog li:nth-child(4n + 1) {
	background-color: #ffbf47;
}

.catalog li:nth-child(7n + 2) {
	background-color: #3bbce3;
}

.catalog li:nth-child(7n + 3) {
	background-color: #dc91d8;
}

.catalog li:nth-child(7n + 4) {
	background-color: #8ed78f;
}

.catalog h3 {
	margin-top: 22px;
	margin-bottom: 12px;


	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
}

.catalog a {
	display: block;
	width: 135px;
	padding-top: 11px;
	padding-bottom: 9px;

	text-align: center;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: rgba(0, 0, 0, 0.1);
}

.popular-items-header,
.popular-brands-header {
	background-color: #f9f5f0;
}

.popular-items-header h2,
.popular-brands-header h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.popular-items ul,
.popular-brands ul {
	list-style: none;
}

.popular-items h3,
.goods h2 {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #000000;
}

.price-old {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-decoration: line-through;
	color: #a9a9a9;
}

.price {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;

	background-color: #ee3643;
}

.services {
	margin: 0;

	background-color: #f4f8f9;
}

.services h2,
.delivery-and-pickup h2  {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.services p,
.delivery-and-pickup p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.services h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
}

.services ul,
.delivery-and-pickup ul {
	list-style: none;
}

.popup {
	display: none;
}

.footer-top {
	margin: 0;
	background-color: #32425c;
}

.footer-top address,
.footer-top .phone {
	font-size: 18px;
	line-height: 24px;
	font-style: normal;
	color: #ffffff;
}

.footer-top ul {
	margin: 0;
	list-style: none;
}

.footer-nav a {
	font-size: 18px;
	line-height: 24px;
}

.footer-nav li:nth-child(9n + 1) a,
.footer-nav li:nth-child(9n + 2) a,
.footer-nav li:nth-child(9n + 3) a,
.footer-nav li:nth-child(9n + 4) a,
.footer-nav li:nth-child(9n + 5) a {
	color: #f1f5f7;
}

.footer-nav li:nth-child(9n + 6) a,
.footer-nav li:nth-child(9n + 7) a,
.footer-nav li:nth-child(9n + 8) a,
.footer-nav li:nth-child(9n + 9) a {
	color: #ffd180;
}

.footer-bottom {
	margin: 0;
	background-color: #293449;
}

.footer-bottom p {
	margin: 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.footer-bottom a {
	color: #ffd180;
}

.footer-bottom ul {
	list-style: none;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-page h1 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;

	background-color: #f2f6f8;
}

.catalog-page legend {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.catalog-page ul {
	list-style: none;
}

.catalog-page label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-page button {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.sorting {
	background-color: #f7f3ec;
}

.sorting span,
.sorting a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-button {
	opacity: 0.3;
}

.sort-button-active {
	color: #ee3643;
}

.to-buy,
.to-bookmarks {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.to-buy {
	color: #ffffff;

	background-color: #63a63e;
}

.to-bookmarks {
	color: #32425c;

	background-color: #ffffff;
	border: 3px solid #63a63e;
}

.pages ol {
	list-style: none;
}

.pages li {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.active-page {
	color: #ffffff;
	background-color: #ee3643;
}

.hidden-page {
	display: none;
}

.about-catalog-section {
	background-color: #f2f6f8;
}

.about-catalog-section h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-catalog-section p {
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}