body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	margin: 0 auto;
	width: 940px;
}

.std-button {
	display: inline-block;
	vertical-align: middle;
	padding-top: 11px;
	padding-bottom: 10px;
	border-radius: 4px;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
}

.std-button:hover,
.std-button:focus {
	background-color: #ca2c37;
}

.std-button:active {
	background-color: #ba2732;
}

.header-top {
	margin: 0;
	padding: 0;

	color: #ffffff;

	background-color: #293449;
}

.header-top .container {
	display: flex;
	justify-content: space-between;
}

.header-top .container:hover,
.header-top .container:focus {
	background-color: #212a3a;
}

.search-box {
	flex-basis: 230px;
	margin: 0;
	margin-left: 10px;
}

.top-header-buttons a {
	height: 42px;
	flex-basis: 150px;

	box-sizing: border-box;
	padding-top: 12px;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.top-header-buttons a:active {
	color: rgba(255, 255, 255, 0.6);
}

.top-header-buttons {
	display: flex;
	width: 460px;
}

.logo {
	flex-basis: 220px;
	box-sizing: border-box;
	padding-top: 12px;

	text-align: center;
	background-color: #ee3643;
	box-shadow: 0 5px #b52933;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}


.bookmarks {
	position: relative;
	margin-right: 10px;
	padding-left: 54px;
}

.bookmarks svg {
	position: absolute;
	left: 27px;
	top: 12px;
	fill-opacity: 0.3;
}

.shopping-cart {
	position: relative;
	padding-left: 50px;
}

.shopping-cart svg {
	position: absolute;
	left: 18px;
	top: 12px;
	fill-opacity: 0.3;
}

.shopping-cart:hover path,
.shopping-cart:hover circle,
.shopping-cart:focus path,
.shopping-cart:focus circle,
.bookmarks:hover path,
.bookmarks:focus path {
	fill-opacity: 1;
}

.shopping-cart:active,
.bookmarks:active {
	opacity: 0.6;
}

.shopping-cart:active path,
.shopping-cart:active circle,
.bookmarks:active path {
	fill-opacity: 0.5;
}

.shopping-cart-active {
	background-color: #ee3643;
}

.make-order-button {
	padding-left: 20px;

	background-color: #63a63e;
}

.make-order-button:hover,
.make-order-button:focus {
	background-color: #5fbb2d;
}

.make-order-button:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.header-details {
	display: flex;
	justify-content: space-between;

	padding-top: 46px;
}

.header-details h1 {
	box-sizing: border-box;
	width: 300px;
	margin: 0;
	padding-top: 3px;
	padding-left: 52px;
	padding-right: 50px;

	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.header-contacts,
.log-off {
	width: 300px;
}

.header-contacts {
	padding-right: 30px;
	box-sizing: border-box;
}

.header-details .phone {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 72px;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;

	background-image: url("../img/svg-technomart/icon-phone.svg");
	background-position: 12px 10px;
	background-repeat: no-repeat;
}

.header-details address {
	margin-top: 2px;

	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	color: #32425c;
	text-align: center;
}

.log-off {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	box-sizing: border-box;
	padding-left: 20px;	
	margin: 0;

	list-style: none
}

.header-bottom {
	margin: 0;
	padding: 0;
	padding-bottom: 52px;

	background-color: #f4f7f9;
}

.log-off li {
	background-color: #ffffff;
}

.login {
	position: relative;
	display: block;
	padding-left: 46px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 16px;
	margin-right: 10px;
	vertical-align: middle;
}

.login svg {
	position: absolute;
	top: 14px;
	left: 13px;
}

.registration {
	display: block;
	padding-left: 25px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 24px;
	vertical-align: middle;
}

.log-off a,
.log-on p,
.profile-link {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.log-off a:hover,
.log-off a:focus {
	color: #ee3643;
}

.log-on p:active,
.log-off a:active {
	color: rgba(0, 0, 0, 0.3);
}

.login:hover path,
.login:focus path {
	fill: #32425c;
}

.log-on p {
	position: relative;
	width: 302px;
	margin: 0;
	padding-top: 12px;
	margin-bottom: 5px;
	padding-right: 32px;
	padding-bottom: 12px;
	padding-left: 50px;
	box-sizing: border-box;

	background-color: #ffffff;
}

.log-on p:hover path,
.log-on p:focus path {
	fill: #32425c;
}

.log-on p:active {
	color: rgba(0, 0, 0, 0.3);
}

.log-on svg {
	position: absolute;
}

.log-on p:active path {
	fill: #c5c5c5;
}

.profile-icon {
	left: 16px;
	top: 13px;
}

.logout-icon {
	right: 10px;
	top: 14px;
}

.profile-links a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.profile-links a:hover,
.profile-links a:focus {
	color: #ee3643;
}

.profile-links a:active {
	color: rgba(50, 66, 92, 0.3);
}

.profile-links a:first-child::after {
	content: "";
	display: inline-block;

	margin-left: 15px;
	margin-right: 10px;

	width: 4px;
	height: 4px;

	vertical-align: middle;
	border-radius: 50%;
	background-color: #32425c;
}


.profile-links {
	padding-left: 20px;
}

.header-nav {
	background-color: #32425c;
}

.header-nav ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-top: 39px;
	padding: 0;
	padding-left: 22px;
	padding-right: 23px;

	list-style: none;
	box-shadow: 0 5px #293449;
}

.header-nav li {
	flex-grow: 1;
	padding-top: 18px;
	padding-bottom: 13px;

	text-align: center;
}

.header-nav li:hover,
.header-nav li:focus {
	background-color: #293449;
}

.header-nav li:active {
	background-color: #1d2739;
}

.header-nav a:active {
	color: rgba(255, 255, 255, 0.5);
}

.header-nav a {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

.catalog ul {
	display: flex;
	flex-wrap: wrap;

	margin-top: 38px;
	padding: 0;
	list-style: none;
}

.catalog li {
	width: 300px;

	box-sizing: border-box;
	padding-left: 23px;
	padding-bottom: 22px;
	margin-left: 20px;
	margin-top: 20px;
}

.catalog li:first-child {
	margin-left: 0;

	background-image: url("../img/svg-technomart/icon-1.svg");
	background-position: 213px 32px;
	background-repeat: no-repeat;
}

.catalog li:nth-child(2) {
	background-image: url("../img/svg-technomart/icon-2.svg");
	background-position: 197px 34px;
	background-repeat: no-repeat;
}

.catalog li:nth-child(3) {
	background-image: url("../img/svg-technomart/icon-3.svg");
	background-position: 191px 32px;
	background-repeat: no-repeat;
}

.catalog li:nth-child(4) {
	margin-left: 640px;

	background-image: url("../img/svg-technomart/icon-4.svg");
	background-position: 196px 26px;
	background-repeat: no-repeat;
}

.catalog li:nth-child(5) {
	margin-left: 640px;

	background-image: url("../img/svg-technomart/icon-5.svg");
	background-position: 191px 31px;
	background-repeat: no-repeat;
}

.catalog-slider {
	/*временно*/
	display: none;
}

.catalog li:nth-child(3n + 6) {
	margin-left: 0;
}

.catalog li:nth-child(4n + 1) {
	background-color: #ffbf47;
}

.catalog li:nth-child(4n + 2) {
	background-color: #3bbce3;
}

.catalog li:nth-child(4n + 3) {
	background-color: #dc91d8;
}

.catalog li:nth-child(4n + 4) {
	background-color: #8ed78f;
}

.catalog h3 {
	margin-top: 22px;
	margin-bottom: 12px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
}

.catalog a {
	display: block;
	width: 135px;
	padding-top: 11px;
	padding-bottom: 9px;

	text-align: center;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: rgba(0, 0, 0, 0.1);
}

.catalog a:hover,
.catalog a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.catalog a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.popular-items-header,
.popular-brands-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #f9f5f0;
}

.popular-items-header {
	margin-top: 48px;
}

.popular-items-header h2,
.popular-brands-header h2 {
	margin-top: 33px;
	margin-bottom: 30px;
	padding-left: 29px;

	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.popular-items-header .std-button,
.popular-brands-header .std-button {
	width: 253px;
	margin-right: 24px;

	text-align: center;
}

.popular-items ul,
.popular-brands ul {
	list-style: none;
}

.popular-items h3,
.goods h2 {
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #000000;
}

.popular-items-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	margin-top: 19px;
	padding: 0;
}

.popular-items-list li {
	position: relative;

	width: 220px;
	min-height: 318px;
	border: 1px solid #eaeaea;
	box-sizing: border-box;

	text-align: center;
}


.price-old {
	margin-top: 12px;
	margin-bottom: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-decoration: line-through;
	color: #a9a9a9;
	text-transform: uppercase;
}

.price {
	position: absolute;
	left: 41px;
	bottom: 4px;

	width: 123px;
	height: 38px;
	border-radius: 4px 0 0 4px;
	box-sizing: border-box;

	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 17px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
}

.price::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;

	position: absolute;
	bottom: 0;
	right: -19px;

	border: 19px solid #ee3643;
	border-right: 0;
	border-left-width: 19px;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.popular-items-list .new::after,
.goods-list .new::after {
	content: "";
	display: block;
	width: 60px;
	height: 60px;

	position: absolute;
	top: -1px;
	right: -1px;

	z-index: 20;
	background: url("../img/flag-new.png") no-repeat 0 0;
}

.popular-brands {
	margin-top: 20px;
}

.popular-brands-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
}

.popular-brands-list li {
	display: flex;

	margin-top: 19px;

	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
	box-sizing: border-box;
}

.popular-brands-list a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 145px;
}

.popular-brands-list li:hover,
.popular-brands-list li:focus {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-list li:active {
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

.services {
	margin: 0;
	margin-top: 85px;
	padding-top: 39px;
	min-height: 521px;
	box-sizing: border-box;

	background-color: #f4f8f9;
}

.services h2,
.delivery-and-pickup h2  {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.services h2 + p {
	margin-top: 26px;
	width: 398px;
}

.services p,
.delivery-and-pickup p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.services h3 {
	margin-top: 0;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
	margin-bottom: 0;
}

.services-list {
	position: relative;
	min-height: 185px;

	margin-top: 66px;
}

.services-item p {
	width: 620px;
	box-sizing: border-box;
	margin-top: 26px;
}

.services-item:first-child .services-content {
	background-image: url("../img/truck.png");
	background-position: 150px 26px;
	background-repeat: no-repeat;
}

.services-item:nth-child(2) .services-content {
	background-image: url("../img/guarantee.png");
	background-position: 240px 26px;
	background-repeat: no-repeat;
}

.services-item:nth-child(3) .services-content {
	background-image: url("../img/credit.png");
	background-position: 165px 26px;
	background-repeat: no-repeat;
}
	

.services-item:first-child p {
	padding-right: 345px;
}

.services-item:nth-child(2) p {
	padding-right: 241px;
}

.services-item:nth-child(3) p {
	padding-right: 341px;
}

.services-list label {
	display: block;
	width: 240px;
	height: 63px;
	box-sizing: border-box;

	padding-left: 22px;
	padding-top: 21px;

	background-color: #32425c;
	color: #ffffff;
	font-family: "Cuprum", Arial, sans-serif;
  	font-size: 21px;
  	font-weight: 700;

	cursor: pointer;
}

.services-content {
	min-height: 285px;
	position: absolute;
	top: 0; 
	left: 320px; 
	right: 0; 
	bottom: 0;

	opacity: 0;
}

.services-item [type=radio]:checked ~ label {
	z-index: 2;

	background-color: #ffffff;	
	color: #32425c;
}

.services-item [type=radio]:checked ~ label ~ .services-content {
	z-index: 1;
	opacity: 1;
}

.services-list .std-button {
	width: 195px;
	padding-left: 44px;
	box-sizing: border-box;
}

.delivery-and-pickup ul {
	list-style: none;
	padding: 0;
}

.delivery-and-pickup {
	display: flex;
	justify-content: space-between;

	padding-bottom: 85px;
}

.delivery {
	width: 519px;
}

.delivery h2,
.pickup h2 {
	margin-top: 79px;
}

.delivery p {
	margin-top: 26px;
}

.delivery p:nth-child(3) {
	width: 385px;
}

.delivery li {
	position: relative;
	padding-left: 36px;
	margin-top: 20px;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
}

.delivery li::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;

	display: block;
	width: 25px;
	height: 2px;

	background-color: #ee3643;
}

.delivery .std-button {
	width: 220px;
	margin-top: 22px;

	text-align: center;
}

.pickup {
	width: 300px;
}

.pickup p {
	width: 179px;
	margin-top: 26px;
}

.pickup img {
	width: 300px;
	height: 158px;
	margin-top: 18px;
}

.pickup .std-button {
	width: 300px;
	margin-top: 31px;

	text-align: center;
}

.popup {
	display: none;
}

.footer-top {
	margin: 0;
	padding-bottom: 32px;

	background-color: #32425c;
}

.footer-top .container {
	display: flex;
	justify-content: space-between;
}

.footer-top-left {
	width: 323px;
}

.footer-top-right {
	width: 550px;
}

.footer-logo {
	display: block;

	width: 220px;
	height: 63px;
	padding-top: 20px;
	box-sizing: border-box;

	vertical-align: middle;
	text-align: center;
	background-color: #ee3643;
	box-shadow: 0 5px #b52933;	
}

.footer-top address,
.footer-top .phone {
	font-size: 18px;
	line-height: 24px;
	font-style: normal;
	color: #ffffff;
}

.footer-top address {
	margin-top: 32px;
}

.footer-top .phone {
	margin-top: 0;
}

.footer-nav {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-nav li {
	margin-top: 36px;
	margin-right: 59px;
}

.footer-nav li:nth-child(9n + 5),
.footer-nav li:nth-child(9n + 9) {
	margin-right: 0;
}

.footer-nav a {
	font-size: 18px;
	line-height: 24px;
}

.footer-nav a:hover,
.footer-nav a:focus {
	text-decoration: underline;
}

.footer-nav a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-nav li:nth-child(9n + 1) a,
.footer-nav li:nth-child(9n + 2) a,
.footer-nav li:nth-child(9n + 3) a,
.footer-nav li:nth-child(9n + 4) a,
.footer-nav li:nth-child(9n + 5) a {
	color: #f1f5f7;
}

.footer-nav li:nth-child(9n + 6) a,
.footer-nav li:nth-child(9n + 7) a,
.footer-nav li:nth-child(9n + 8) a,
.footer-nav li:nth-child(9n + 9) a {
	color: #ffd180;
}

.footer-bottom {
	margin: 0;
	background-color: #293449;
}

.footer-bottom .container {
	display: flex;

	padding-top: 37px;
	padding-bottom: 35px;
}

.footer-bottom p {
	margin: 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.copyright {
	width: 228px;
}

.footer-bottom a {
	color: #ffd180;
}

.social-buttons {
	display: flex;
	justify-content: space-between;

	width: 132px;
	margin: 0;
	margin-top: -2px;
	margin-left: 162px;
	padding: 0;

	list-style: none;
}

.social-buttons li {
	position: relative;

	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #212a3a;
}

.social-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
}

.vk-button::before {
	background-image: url("../img/svg-technomart/icon-vk.svg");
	background-position: 8px 12px;
	background-repeat: no-repeat;
}

.fb-button::before {
	background-image: url("../img/svg-technomart/icon-fb.svg");
	background-position: 15px 10px;
	background-repeat: no-repeat;
}

.inst-button::before {
	background-image: url("../img/svg-technomart/icon-insta.svg");
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

.social-buttons li:hover,
.social-buttons li:focus,
.social-buttons li:active {
	background-color: #ee3643;
	cursor: pointer;
}

.contacts-wrapper {
	display: flex;
	margin-right: 15px;
	margin-left: 119px;
}

.feedback {
	width: 135px;
}

.made-by {
	width: 96px;
	padding-left: 53px;
}

.feedback a:hover,
.feedback a:focus,
.made-by a:hover,
.made-by a:focus {
	text-decoration: underline;
}

.feedback a:active,
.made-by a:active {
	color: #ee3643;
	text-decoration: none;
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	
	margin: 0;
	margin-top: 17px;
	padding: 0;

	list-style: none;
}

.breadcrumbs li::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 12px;

	margin-left: 20px;
	margin-right: 15px;
	margin-bottom: 4px;

	background-image: url("../img/svg-technomart/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs li:first-child {
	margin-left: 0;
	position: relative;
}

.breadcrumbs li:first-child::after {
	margin-left: 28px;
}

.breadcrumbs li:first-child::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 12px;

	position: absolute;
	top: 5px;
	left: -2px;

	background-image: url("../img/svg-technomart/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs-current {
	padding-top: 3px;
}

.filter-and-catalog {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 220px;
}

.catalog-wrapper {
	width: 700px;
}

.catalog-page h1 {
	padding-top: 32px;
	padding-left: 30px;
	padding-bottom: 34px;

	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;

	background-color: #f2f6f8;
}

.catalog-page legend {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.filter fieldset {
	border: none;
}

.filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter li {
	position: relative;
	padding-left: 35px;
	margin-top: 15px;
}

.brands-filter-list .filter-input + label::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0;
	top: 0;

	background-image: url("../img/svg-technomart/checkbox-off.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.brands-filter-list .filter-input:checked + label::before {
	background-image: url("../img/svg-technomart/checkbox-on.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.power-filter-list .filter-input + label::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0;
	top: 0;

	background-image: url("../img/svg-technomart/radio-off.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.power-filter-list .filter-input:checked + label::before {
	background-image: url("../img/svg-technomart/radio-on.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.catalog-page label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-page label:hover {
	cursor: pointer;
}

.sorting {
	box-sizing: border-box;
	padding-top: 14px;
	padding-bottom: 15px;
	padding-left: 19px;
	padding-right: 60px;

	background-color: #f7f3ec;
}

.sorting p {
	margin: 0;
	padding: 0;
}

.sort-by {
	display: flex;
	justify-content: space-between;
}

.sort-by span {
	padding-right: 140px;
}

.sorting span,
.sorting a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-button {
	opacity: 0.3;
}

.sort-button-active {
	color: #ee3643;
}

.goods-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.goods-list li {
	position: relative;

	margin-top: 21px;

	width: 220px;
	min-height: 318px;
	border: 1px solid #eaeaea;
	box-sizing: border-box;

	text-align: center;
}

.catalog-page button {
	display: none;
	/*временно ^ */
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.to-buy,
.to-bookmarks {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.to-buy {
	color: #ffffff;

	background-color: #63a63e;
}

.to-bookmarks {
	color: #32425c;

	background-color: #ffffff;
	border: 3px solid #63a63e;
}

.pages ol {
	margin: 0;
	margin-top: 52px;
	padding: 0;

	list-style: none;
}

.pages li {
	display: inline-block;
	vertical-align: middle;

	min-width: 38px;
	height: 38px;
	margin-right: 10px;
	padding-top: 10px;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;

	text-align: center;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.pages li:last-child {
	padding-left: 32px;
	padding-right: 32px;
}

.active-page {
	color: #ffffff;
	background-color: #ee3643;
	border: none;
}

.pages a {
	color: #000000;
}

.about-catalog-section {
	margin-top: 60px;
	padding-top: 67px;
	padding-bottom: 73px;

	background-color: #f2f6f8;
}

.about-catalog-section h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-catalog-section p {
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}